@charset "utf-8";

/*
* lang — Ru
* author — NiktoX2
* — https://vk.com/niktox2
* team — Lost Summer Time
* — https://vk.com/lost.summer.time
*
*
*/

.p1rem { padding: 1rem }
.m1rem { margin: 1rem }

.pTop05rem { padding-top: 0.5rem }
.mTop05rem { margin-top: 0.5rem }

.ulMTop05rem > li:nth-child(n + 2) { margin-top: 0.5rem }

.absolute { position: absolute }

.radius1rem { border-radius: 1rem }

.icon1rem, .icon1rem > svg { width: 1rem; height: 1rem }
.icon1-5rem, .icon1-5rem > svg { width: 1.5rem; height: 1.5rem }
.icon2rem, .icon2rem > svg { width: 2rem; height: 2rem }

.fColumn { flex-direction: column }

/**/

.avatar {
	margin-right: 1rem;
	flex-direction: column;
}

.avatar__bg {
	width: 18rem;
	height: 22rem;
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--dark-item);
}

.avatar__image {
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
	background-image: url("/images/avatar/NiktoX2.jpg");
}

.avatar__website {
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--dark-item);
	justify-content: center;
}

.avatar__website li:nth-child(n + 2) {
	margin-left: 1rem;
}

/**/

.info {
	width: 100%;
	margin-left: 1rem;
	flex-direction: column;
}

.info > div {
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--dark-item);
}

.info > div:nth-child(n+2) {
	margin-top: 1rem;
}


.info__slider button {
	display: none;
}

.info__slider div {
	width: 100%;
	height: 11.5rem;
	overflow-x: scroll;
	overflow-y: hidden;
}

.info__slider li:nth-child(n + 2) {
	margin-left: 1rem;
}

.info__slider span {
	height: 10rem;
	width: 14rem;
	border-radius: 0.5rem;
}