@charset "utf-8";

/*
* lang — Ru
* author — NiktoX2
* — https://vk.com/niktox2
* team — Lost Summer Time
* — https://vk.com/lost.summer.time
*
*
*/

[data-z="100"] { z-index: 100 }
[data-z="10"] { z-index: 10 }


.wh { width: 100%; height: 100% }


.p[data-pSize="1rem"] { padding: 1rem }
.pTop[data-pSize="0.5rem"] { padding-top: 0.5rem }
.pRight[data-pSize="0.5rem"] { padding-right: 0.5rem }
.pBottom[data-pSize="0.5rem"] { padding-bottom: 0.5rem }
.pLeft[data-pSize="0.5rem"] { padding-left: 0.5rem }


.rounding[data-rSize="1rem"] { border-radius: 1rem }


.m[data-mSize="1rem"] { margin: 1rem }
.mTop[data-mSize="0.5rem"] { margin-top: 0.5rem }
.mRight[data-mSize="0.5rem"] { margin-right: 0.5rem }
.mBottom[data-mSize="0.5rem"] { margin-bottom: 0.5rem }
.mLeft[data-mSize="0.5rem"] { margin-left: 0.5rem }

ul.ulMTop[data-ulMSize="0.5rem"] > li:nth-child(n + 2) { margin-top: 0.5rem }
ul.ulMRight[data-ulMSize="0.5rem"] > li:nth-child(n + 2) { margin-right: 0.5rem }
ul.ulMBottom[data-ulMSize="0.5rem"] > li:nth-child(n + 2) { margin-bottom: 0.5rem }
ul.ulMLeft[data-ulMSize="0.5rem"] > li:nth-child(n + 2) { margin-left: 0.5rem }

ul.ulMTop[data-ulMSize="1rem"] > li:nth-child(n + 2) { margin-top: 1rem }
ul.ulMRight[data-ulMSize="1rem"] > li:nth-child(n + 2) { margin-right: 1rem }
ul.ulMBottom[data-ulMSize="1rem"] > li:nth-child(n + 2) { margin-bottom: 1rem }
ul.ulMLeft[data-ulMSize="1rem"] > li:nth-child(n + 2) { margin-left: 1rem }


.absolute { position: absolute }


.fColumn { flex-direction: column }


i[data-iSize="1rem"], i[data-iSize="1rem"] > svg { width: 1rem; height: 1rem }
i[data-iSize="1.5rem"], i[data-iSize="1.5rem"] > svg { width: 1.5rem; height: 1.5rem }
i[data-iSize="2rem"], i[data-iSize="2rem"] > svg { width: 2rem; height: 2rem }

/**/

.avatar {
	margin-right: 1rem;
	flex-direction: column;
}

.avatar__bg {
	width: 18rem;
	height: 22rem;
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--dark-item);
}

.avatar__image {
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
	background-image: url("/images/avatar/NiktoX2.jpg");
}

.avatar__website {
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--dark-item);
	justify-content: center;
}

.avatar__website li:nth-child(n + 2) {
	margin-left: 1rem;
}

/**/

.info {
	width: 100%;
	margin-left: 1rem;
	flex-direction: column;
}

.info > div {
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--dark-item);
}

.info > div:nth-child(n+2) {
	margin-top: 1rem;
}


.info__slider div {
	width: 100%;
	height: 11.5rem;
	overflow-x: scroll;
	overflow-y: hidden;
}

.info__slider span {
	height: 10rem;
	width: 14rem;
	border-radius: 0.5rem;
}