@charset "utf-8";

/*
* lang — Ru
* author — NiktoX2
* — https://vk.com/niktox2
* team — Lost Summer Time
* — https://vk.com/lost.summer.time
*
*
*/

* {
	margin: 0;
	border-width: 0;
	border-style: solid;
	padding: 0;

	box-sizing: border-box;

	position: relative;

	font-family: "Roboto", "Ubuntu", "Arial", sans-serif;
	font-size: 1rem;
	color: var(--color);

	list-style: none;
	text-decoration: none;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/**/

html, body { min-width: 320px; min-height: 320px }

body {
	background-color: var(--background);
	justify-content: center;
	line-height: 1.3;
}

body, body * { display: flex }

header { padding: 1rem 0 }

footer { padding: 2rem 0 1rem }

h6 { font-size: 1.25rem }

svg { fill: var(--icon) }

/**/

.hide { display: none }