@charset "utf-8";

/*
* lang — Ru
* author — NiktoX2
* — https://vk.com/niktox2
* team — Lost Summer Time
* — https://vk.com/lost.summer.time
*
*
*/

*::-webkit-scrollbar { width: 1rem }

*::-webkit-scrollbar-track {
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px var(--color);
	border: transparent solid 5px;
	border-radius: 1rem;
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--color) transparent;
}